// Colours
$blue: #1c88bf;
$dark-blue: #364051;
$dark-grey: #333333;
$grey: #666666;
$off-black: #20222b;
$off-white: #f9f9f9;

// Font size
$l-font-size: 1.8rem;
$s-font-size: 1.4rem;

// Spacing
$xl-size: 4.8rem;
$l-size: 3.2rem;
$m-size: 1.6rem;
$s-size: 1.2rem;

$desktop-breakpoint: 45rem;

// Font size
